@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Belleza:wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Great+Vibes:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins",sans-serif ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-belleza {
  font-family: "Belleza", sans-serif;
}

.font-great-vibes {  
  font-family: 'Great Vibes';
  font-style: normal;
  font-style: italic;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.hover-color{
  color: #707070;
}

.font-crimson {
  font-family: "Crimson Pro", serif;
  letter-spacing: 1px;
}

::-webkit-scrollbar{
  display: none;
}